$primary-color: #f06723;
$secondary-color: #2193b0;
$primary-text-color: #4a4a4a;
$secondary-text-color: #9b9b9b;
$error-color: #ee5253;
$good-health-color: #4caf50;
$medium-health-color: #ffc107;
$bad-health-color: #f44336;
$heading-text-color: #4a4a4a;
$link-hover-color: #4a90e2;
$border-color: #e4e5ec;
$white: #ffffff;
$container-width: 1280px;
$usecase-height: 410px;
$usecase-width: 384px;
$usecase-height-without-button: 350px;
$assistant-recommendation-desktop-height: 144px;
$assistant-recommendation-desktop-width: 256px;
$assistant-recommendation-mobile-height: 180px;
$assistant-recommendation-mobile-width: 320px;

//Bootstrap theme colors
$secondary-bg-color: #fafafa;
$tertiary-bg-color: #f8fbfc;
$theme-colors: (
  "primary": #f06723,
  "secondary": #34aca4,
  "danger": #9b140d,
  "add-feature": rgba(17, 153, 142, 0.1),
  "inactive": #e4e5ec,
);
$colors: (
  "orange": #f06723,
) !default;
$grid-columns: 12;
$grid-gutter-width: 16px;
$grid-breakpoints: (
  // Extra small screen / phone
    xs: 0,
  // Small screen / phone
    sm: 600px,
  // Medium screen / tablet
    md: 960px,
  // Large screen / desktop
    lg: 1280px // Extra large screen / wide desktop
);
$container-max-widths: (
  sm: 600px,
  md: 960px,
  lg: 1280px,
);
$primary-gradient: linear-gradient(90deg, #cc2b5e 0%, $primary-color 50%);
$low-z: 0;
$medium-z: 1040;
$high-z: 1050;

//Font sizes.
$standard-text-size: 14px;
$desktop-h1: 36px;
$desktop-h2: 32px;
$desktop-h3: 28px;
$desktop-h4: 24px;
$desktop-h5: 20px;
$desktop-h6: 16px;
$mobile-h1: 24px;
$mobile-h2: 22px;
$mobile-h3: 20px;
$mobile-h4: 18px;
$mobile-h5: 16px;
$mobile-h6: 14px;

$default-text: 14px;
