@import "../../scss/common/bootstrap-essentials";
@import "../../scss/common/link";
@import "../../scss/common/mixins";
@import "../../scss/common/variables";

.footerWrapper {
  @include flex-column;
  max-width: $container-width;
  margin: 0 auto;
  padding: 16px 32px 0px 32px;

  @media only screen and (min-width: 0px) {
    .footer {
      @include flex-reverse-column;
      margin-bottom: 16px;

      img {
        display: none;
        margin: 16px auto;
        width: 60%;
        height: 60%;
      }
      .columnWrapper {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 32px;
        .column {
          @include flex-column-center;
          .heading {
            font-size: $mobile-h4;
          }
          .link {
            font-size: $mobile-h5;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 960px) {
    .footer {
      @include flex-row;
      justify-content: space-between;
      margin: 32px 0px;

      img {
        display: block;
        margin: 0px 32px;
        width: 15%;
        height: 15%;
      }
      .columnWrapper {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 0px;
        .column {
          @include flex-column;
          align-items: flex-start;
          .heading {
            font-size: $desktop-h5;
          }
          .link {
            font-size: $desktop-h6;
          }
        }
      }
    }
  }

  .footer {
    .columnWrapper {
      display: grid;
      flex-direction: row;
      flex-wrap: wrap;
      grid-gap: 32px;
      .column {
        margin: 0 32px;
        .heading {
          @include clear;
          color: $primary-text-color;
          font-weight: 600;
        }
        .link {
          font-weight: normal;
          a {
            color: $secondary-text-color;
            @include link-with-animated-border;
            &:hover {
              color: $primary-color;
            }
            &:after {
              background: $primary-gradient;
            }
          }
          &:hover {
            color: $primary-color;
          }
        }
      }
    }
  }
  .socialBar {
    @include make-col(12);
    @include flex-row;
    justify-content: center;
    margin: 16px;
    .filler {
      flex-grow: 1;
    }
    .copyrightMessage {
      @include clear;
      margin: 0 8px;
      font-size: 14px;
      p {
        cursor: auto;
      }
      a {
        @include link-with-animated-border;
        &:hover {
          color: black;
        }
        &:after {
          background: black;
        }
      }
      &:hover {
        color: black;
      }
    }
    .socialIcon {
      @include clear;
      margin: 0 16px;
      height: 16px;
    }
  }
  hr {
    @include clear;
    @include make-col(12);
    height: 1px;
    background: #e4e5ec;
    background-color: #e4e5ec;
    box-shadow: 0 6px 10px 0 rgba(69, 73, 91, 0.08);
    border: 1px solid #e4e5ec;
  }
}
