@import './common/bootstrap-essentials';
@import './common/mixins';
@import './common/variables';

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  font-family: Nunito Sans;
  font-weight: 400;
  color: $primary-text-color;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $primary-text-color;
}

img {
  max-width: 100%;
  display: block;
}

one-col-margin {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(1);
  }
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
