@import "~antd/dist/antd.css";
@import "./common/bootstrap-essentials";
@import "./common/mixins";
@import "./common/variables";
@import "./fonts.scss";

.thin {
  font-weight: 100;
}
.extra-light {
  font-weight: 200;
}
.light {
  font-weight: 300;
}
.normal {
  font-weight: 400;
}
.medium,
.demiBold,
.demi-bold {
  font-weight: 500;
}
.semiBold,
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 700;
}
.extra-bold {
  font-weight: 800;
}
.black-bold {
  font-weight: 900;
  color: black;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  box-sizing: border-box;
  font-family: AvenirNext;
  font-weight: 400;
  color: $primary-text-color;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  line-height: normal;
}

a {
  text-decoration: none;
  color: $primary-text-color;
}

img {
  max-width: 100%;
  display: block;
}

one-col-margin {
  @include make-col-ready();
  @include media-breakpoint-up(sm) {
    @include make-col(1);
  }
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
