@font-face {
  font-family: "AvenirNext";
  src: url("../fonts/AvenirNext-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../fonts/AvenirNext-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../fonts/AvenirNext-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../fonts/AvenirNext-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNext";
  src: url("../fonts/AvenirNext-Bold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/FuturaPTExtraBold.otf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/FuturaPTExtraBoldOblique.otf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/FuturaPTBold.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/FuturaPTBoldOblique.otf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/FuturaPTDemi.otf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/FuturaPTDemiOblique.otf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/FuturaPTMedium.otf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/FuturaPTMediumOblique.otf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/FuturaPTBook.otf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/FuturaPTBookOblique.otf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/FuturaPTLight.otf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Futura";
  src: url("../fonts/futura/FuturaPTLightOblique.otf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
