@import './common/bootstrap-essentials';
@import './common/input';
@import './common/mixins';
@import './common/variables';

.homePage {
  @include make-container();
  @include flex-column-center();
  @include clear();
  height: 100vh;

  .contentWrapper {
    @include flex-center;
    width: 100vw;
    max-width: $container-width;
    margin: auto auto;

    @media only screen and (min-width: 0px) {
      .content {
        @include flex-column-center();
        .headingWrapper {
          .headingH1 {
            font-size: $desktop-h2;
          }
          .subheadingH5 {
            font-size: $mobile-h5;
          }
        }
      }
    }

    @media only screen and (min-width: 480px) {
      .content {
        .headingWrapper {
          .headingH1 {
            font-size: $desktop-h1;
          }
          .subheadingH5 {
            font-size: $mobile-h5;
          }
        }
      }
    }

    @media only screen and (min-width: 960px) {
      .content {
        @include flex-row-justify-center();
        margin: auto auto;
        .terminalIcon {
          height: 46px;
          font-size: 36px;
          margin: 18px 24px auto 0;
        }
        .headingWrapper {
          max-width: 960px;
          margin: auto 0;
          .headingH1 {
            font-size: 64px;
          }
          .subheadingH5 {
            max-width: 720px;
            font-size: $desktop-h4;
            margin: 16px 0 0 0;
          }
          .defaultText {
            font-size: $desktop-h6;
          }
          .formPage {
            width: 640px;
            .input {
              font-size: $desktop-h6;
            }
          }
        }
      }
    }

    @media only screen and (min-width: 1280px) {
    }

    .content {
      .terminalIcon {
        background: linear-gradient(90deg, #2193b0 0%, #6dd5ed 50%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 0.8;
        cursor: default;

        font-family: 'Futura';
        font-weight: 600;
      }
      .headingWrapper {
        @include clear-padding;
        text-align: center;

        .textLogo {
          display: block;
          margin: 0 0;
        }
        .headingH1 {
          @include flex-row-justify-center;
          @include clear-padding;
          font-family: 'Futura';
          color: $primary-text-color;
          cursor: default;
        }
        .subheadingH5 {
          @include flex-row-justify-center;
          @include clear-padding;
          font-family: 'AvenirNext';
          font-weight: normal;
          color: $secondary-text-color;
          cursor: default;
        }

        .defaultText {
          @include flex-row-justify-center;
          @include clear;
          position: relative;
          font-family: 'AvenirNext';
          font-weight: 500;
          color: $primary-text-color;
        }

        .formPage {
          @include flex-row-justify-center();
          @include form-text-input();
          position: relative;
          margin: 32px auto 0 auto;

          //All jugaas css
          .input-wrapper {
            width: 100%;
            height: 58px;
            box-shadow: none;
            border-color: $secondary-text-color;
            border-right-color: transparent;
            padding: 0 0 0 32px;
            border-radius: 32px;

            .img {
              min-width: 32px;
              height: 32px;
              margin-right: 16px;
            }
            .input {
              margin: 0 16px 0 0;
              font-size: $desktop-h6;
            }
            .button {
              width: 100%;
              margin: 0 0 0 0;
              border-radius: 32px;
            }
          }
        }
      }
    }
  }

  .integrations-logo-container {
    width: 100vw;
    background-color: $secondary-bg-color;
  }

  .scope-container {
    width: 100vw;
    display: none;
    flex-direction: column;
    align-items: center;
    padding-bottom: 48px;
    .scope {
      width: 100vw;
      max-width: $container-width;
      @include hexagon-background;
      @include make-row();
      padding-top: 80px;
    }
  }

  .community-container {
    width: 100vw;
    display: none;
    background-color: $secondary-bg-color;
  }

  .pricing-widget-container {
    width: 100vw;
  }

  .guarantee-container {
    width: 100vw;
    background-color: $secondary-bg-color;
    display: none;
    .guarantee {
      height: 360px;
      max-width: $container-width;
      @include make-row();
      @include clear;
      align-items: center;
      margin: 0 auto;
      .section-img {
        @include make-col(4);
        @include make-col-offset(1);
        object-fit: contain;
      }
      .guarantee-text {
        @include make-col(6);
        margin: 0 0 0 16px;
        .heading {
          @include clear;
          font-size: $desktop-h4;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.58;
          letter-spacing: normal;
          color: $heading-text-color;
        }
        .content {
          @include clear;
          font-size: $desktop-h6;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: $heading-text-color;
        }
        .button {
          margin-top: 40px;
        }
      }
    }
  }

  .footerContainer {
    width: 100vw;
    background-color: transparent;
    margin: auto auto 2px auto;
  }
}
