@import "./common/bootstrap-essentials";
@import "./common/link";
@import "./common/mixins";
@import "./common/variables";

.homePage {
  @include make-container();
  @include flex-column-center();
  @include clear();
  height: 100%;

  .contentWrapper {
    @include flex-column-center;
    width: 100vw;
    max-width: $container-width;
    margin: auto auto;

    @media only screen and (min-width: 0px) {
      .content {
        @include clear-padding;
        @include flex-column;
        margin: 32px 16px;
        .h1 {
          font-size: 48px;
        }
        .h2 {
          font-size: 32px;
        }
        .h3 {
          font-size: 24px;
        }
        .h4 {
          font-size: $mobile-h4;
        }
        .h5 {
          font-size: $mobile-h5;
        }
        .H6,
        .defaultText {
          font-size: $mobile-h6;
          padding: 0 16px;
        }
        .enlarge {
          height: 150%;
        }
      }
    }

    @media only screen and (min-width: 480px) {
    }

    @media only screen and (min-width: 960px) {
      .content {
        @include flex-column;
        margin: 48px auto;
        .h1 {
          font-size: 64px;
        }
        .h2 {
          font-size: 48px;
        }
        .h3 {
          font-size: 36px;
        }
        .h4 {
          font-size: $desktop-h4;
        }
        .h5 {
          font-size: $desktop-h5;
          // article {
          //   margin: 0 auto 16px 0;
          // }
        }
        .H6,
        .defaultText {
          @include clear-padding;
          @include clear-margin;
          font-size: $desktop-h6;
        }
      }
    }

    @media only screen and (min-width: 1280px) {
    }

    .content {
      @include make-col(9);
      text-align: left;

      .terminal {
        width: 48px;
        height: 48px;
        margin: auto 0 16px 0;
      }
      .small {
        width: 32px;
        height: 32px;
        margin: 8px auto;
      }
      .h1 {
        color: $primary-text-color;
        cursor: default;
      }
      .h2 {
        color: $primary-text-color;
        cursor: default;
      }
      .h3 {
        color: $primary-text-color;
        cursor: default;
      }
      .h4 {
        color: $primary-text-color;
        cursor: default;
      }
      .h5 {
        color: $primary-text-color;
        cursor: default;
      }
      .h6,
      .defaultText {
        color: $primary-text-color;
        cursor: default;
      }
      p {
        @include clear-margin;
      }
      .secondary {
        color: $secondary-text-color;
      }
      .link {
        @include link-with-animated-border;
        color: $link-hover-color;
      }
      .textLogo {
        display: block;
        margin: 0 0;
      }
      .emoji {
        @include flex-row;
        width: 72px;
        height: 72px;
        span {
          margin: auto auto;
        }
      }
      .ide {
        width: 240px;
        padding: 0 0 8px 0;
      }
      .button {
        button {
          margin: 16px auto 16px 0;
          border-radius: 8px;
        }
      }
      .eap-button {
        width: 100%;
        margin: auto auto auto 0px;
      }
      .homepage-illustration {
        margin: 16px auto auto auto;
      }
      .hint {
        @include flex-row-center;
        margin: 16px auto 0 auto;
        border: solid 1px rgba($color: #4a4a4a, $alpha: 0.2);
        background-color: $secondary-bg-color;
        border-radius: 8px;
        padding: 8px 16px;
        filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
      }
      .hint-img {
        width: 25px;
        height: 40px;
        margin: 0 16px 0 0;
        filter: drop-shadow(0px 1px 1px rgba($color: #f4bd19, $alpha: 0.5));
      }
      .iframe-wrapper {
        position: relative;
        padding-bottom: 62.5%;
        height: 0;
        .iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      .key {
        font-family: monospace;
        border: solid 1px rgba($color: #4a4a4a, $alpha: 0.2);
        background-color: $secondary-bg-color;
        border-radius: 8px;
        padding: 0 8px;
        font-weight: 500;
      }
    }
  }

  .secondary-button {
    background: white;
    color: $secondary-color;
    border-color: $secondary-color;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5));
  }

  .primary-button {
    background: $secondary-color;
    border-color: $secondary-color;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.5));
  }

  .footerContainer {
    width: 100vw;
    background-color: $secondary-bg-color;
    margin: auto auto 2px auto;
  }
}

.vscode-illustration {
  margin-top: 16px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.secondary-bg {
  background-color: $secondary-bg-color;
}
