@import "./app.scss";
.privacy-policy-page {
  @include clear();
  @include make-container();
  @include flex-column-center();

  .privacy-policy {
    width: 100vw;
    max-width: $container-width;
    padding: 32px;
  }
  .footer-container {
    width: 100vw;
    background-color: #fff;
  }
}
